body {
  background-color: beige;
}
.btn {
  cursor: pointer;
}

body {
  color: chocolate;
}

.clicked {
  color: cornflowerblue;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
